@import '../_mixins/_arrow.sass'
	
.slick
	&-slide
		/* Display & Box Model */
		outline: none
		
		/* Positioning */
		position: relative
	&-track
		display: flex
		align-items: flex-start
	&-dots
		/* Display & Box Model */
		display: flex
		align-self: center
		padding: 0
		margin-top: 0
		margin-bottom: 50px
		li
			/* Display & Box Model */
			margin: 0 10px
			/* Text */
			list-style: none
		button
			/* Display & Box Model */
			padding: 5px
			border: none
			border-bottom: 2px solid transparent
			background: transparent

			/* Text */
			font-size: 12px
			font-weight: bold
			color: $lightblue-dot

			/* Other */
			transition-property: border-color, color
			transition-duration: .5s
			cursor: pointer
	&-active
		button
			/* Display & Box Model */
			border-color: $light

			/* Text */
			color: $light
	&-arrow
		/* Positioning */
		position: absolute
		z-index: 1
		&.slick-prev
			@include arrow

			/* Positioning */
			top: 50%
			left: calc(100% / 12)
			transform: translate(-50%, -50%) rotate(90deg)
		&.slick-next
			@include arrow

			/* Positioning */
			top: 50%
			right: calc(100% / 12)
			transform: translate(50%,-50%) rotate(-90deg)

.slider
	/* Display & Box Model */
	width: 100% 
	&--main
		/* Display & Box Model */
		display: flex
		flex-direction: column-reverse
	&--charity,
	&--quality,
	&--info
		margin-bottom: 80px
		.slick
			&-slide
				/* Display & Box Model */
				padding: 0 calc(100% / 12)
				*:first-child
					/* Display & Box Model */
					margin-top: 0
				*:last-child
					/* Display & Box Model */
					margin-bottom: 0
				h4
					/* Text */
					font-size: 20px
					font-weight: normal
					line-height: 1.7
				p
					/* Text */
					font-size: 16px
					line-height: 1.5
			&-dots
				/* Display & Box Model */
				margin-bottom: 0

				/* Positioning */
				position: absolute
				left: 50%
				bottom: -80px
				transform: translate(-50%)
				button
					/* Display & Box Model */
					padding: 0
					border: none
					background: $lightblue-dot
					width: 11px
					height: 11px
					border-radius: 50%

					/* Text */
					transition: background .5s
					font-size: 0
			&-active
				button
					/* Display & Box Model */
					background: $light
